<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Login Page</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1> Login </h1>
      <form method="post">
        {% csrf_token %}
        <label for="user">Username: </label>
        <input type="text" name="user" id="user">
        <br>

        <label for="pass">Password: </label>
        <input type="password" name="pass" id="pass">
        <br>

        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
