body {
  background: #333030;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
}

.container {
  margin-top: 150px;
}

ul {
  text-align: center;
}

li {
  border: solid medium #FFFFFF;
  padding: 20px;
  margin-right: 30px;
  display: inline-block;
}

a {
  color: #FFFFFF;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  margin-top: 50px;
  margin-bottom: 50px;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  text-align: center;
  font-size: 1.5em;
}

.last {
  text-align: center;
}

#sapaan {
  text-align: center;
}
